<div class="nav-setting">
  <div class="ui buttons">
    <% if (user) { %>
    <div class="ui floating dropdown button">
      <div style="width: 20px;margin-top: -10px;"><img style="width: 100%;height: 100%;" src="/img/icons/nav.png"></div>
      <div class="menu">
        <% if (user) { %>
        <a class="item" href="/posts?author=<%= user._id %>">主页</a>
        <div class="divider"></div>
        <a class="item" href="/posts/create">发表</a>
        <a class="item" href="/signout">登出</a>
        <% } else { %>
        <a class="item" href="/signin">登录</a>
        <a class="item" href="/signup">注册</a>
        <% } %>
      </div>
    </div>
    <% } %>
  </div>
</div>
